$black: #010000;
$white: #ffffff;
$darkGrey: #333;
$lightGrey: rgba(100, 100, 100, 0.49);
$red: #ff1755;
$perry: #189090;
$cyan: rgb(0, 255, 255);

/*
Mixins
*/

@mixin translateY($e){

  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e){

  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

@mixin transitionOut($e){
  -webkit-transition: all $e ease-out;
  -moz-transition: all $e ease-out;
  -o-transition: all $e ease-out;
  -ms-transition: all $e ease-out;
  transition: all $e ease-out;
}

@mixin box-shadow($dimension, $color){

  -webkit-box-shadow: $dimension $color;
  -moz-box-shadow: $dimension $color;
  box-shadow: $dimension $color;
}

body {

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $black;
  font-weight: 400px;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  color: $black;
  font-style: normal;
}

.subtitle {
  font-family: 'Slabo 27px', serif;
  font-style: bold;
  font-size: 22px;
}

a {

  text-decoration: none;
  @include transition(.4 easy-in-out);
  cursor: pointer;

  &:hover{
    color: $red;
    @include transition(.4 easy-in-out);
  }
}

header {
  width: 100vw;
  margin: 0;
}


.row {
  margin: 10px;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.border-t {
  border-top: 1px solid $lightGrey;
}

.border-b {
  border-bottom: 1px solid $lightGrey;
}

.border-tb {
  @extend .border-b;
  @extend .border-t;
}

.border-l {
  border-left: 1px solid $lightGrey;
}

.border-r {
  border-right: 1px solid $lightGrey;
}

.border-lr {
  @extend .border-l;
  @extend .border-r;
}

.border-r-solid{

    border-right: 2px solid $lightGrey;
    height: 100px;
}

/*
Define Grid structure of the container
*/
.container {

  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(30px, auto);
  padding: 10px;
}

.container-small {
  @extend .container;
  grid-template-columns: repeat(3, minmax(200px, 1fr));

}
.container-table {

  @extend .container;

}

.container-fixed {

  grid-gap: 10px;
  padding: 10px;
}

/*
  Define columns classes inside container
  */

  .f-c-third {
    grid-column: 1;
  }

  .fs-c-third { 
    grid-column: 1/3;
  }

  .s-c-third {
    grid-column: 2;
  }

  .st-c-third {
    grid-column: 2/4;
  }

  .t-c-third {
    grid-column: 3;
  }

  .full-c-third {
    grid-column: 1/4;
  }

  /*
  Define rows classes inside container
  */

  .one-r {
    grid-row: 1;
  }

  .two-r { 
    grid-row: 2;
  }

  .three-r {
    grid-row: 3;
  }

  .four-r {
    grid-row: 4;
  }

  .five-r {
    grid-row: 5;
  }

  .six-r {
    grid-row: 6;
  }
  
  .seven-r {
    grid-row: 7;
  }

  .double-r {
    grid-row: 1/3;
  }

  .triple-r {
    grid-row: 1/4;
  }

  @mixin x-r($e){
    grid-row: $e;
  }

  .center-h {
    margin-left: auto;
    margin-right: auto;
  }

  .center-v {
    margin-top: auto;
    margin-bottom: auto;
  }

  .center-hv {
    margin: auto;
  }

.full-width {

  min-width: 100vw;
  overflow: hidden;
}

.m-t-s {
  margin-top: 5px;
}

.m-t-m {
  margin-top: 12px;
}

.m-t-l {
  margin-top: 20px;
}

.m-b-s {
  margin-bottom: 5px;
}

.m-b-m {
  margin-bottom: 12px;
}

.m-b-l {
  margin-bottom: 20px;
}

.m-s {
  margin: 5px;
}

.m-m {
  margin: 12px;
}

.m-l {
  margin: 20px;
}

.p-all-s {
  padding: 5px;
}

.p-all-m {
  padding: 12px;
}

.p-all-l {
  padding: 20px;
}
table{
    width: 100%;
    table-layout: fixed;
}
table, th, td {
    border: 1px solid black;

  }
.table-div {
    max-height: 500px;    
    overflow-y: scroll;
    border: 2px dashed gray;
    margin: 20px;
    margin-top: 100px;
}
.tweet-table {
    max-height: 800px;    
    overflow-y: scroll;
    margin: 20px;
}
@media only screen and (max-width : 1024px) {
  
  body {

    font-size: 14px;
    font-weight: 300px;
  }
  
  h3 {
    font-size: 22px;
  }

  .subtitle {
    font-size: 18px;
  } 

  .container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 5px;
    padding: 5px;

  }

  .container-table {
    display: inline;
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 5px;
    padding: 5px;    
    grid-template-columns: repeat(3, minmax(200, 1fr));
  }

  .container-small {
    grid-template-columns: repeat(3, minmax(100px, 1fr));

  }
  .container-fixed {
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 5px;
    padding: 5px;    
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
  .f-c-third {
    grid-column: auto;
  }

  .fs-c-third { 
    grid-column: auto;
  }

  .s-c-third {
    grid-column: auto;
  }

  .st-c-third {
    grid-column: auto;
  }

  .t-c-third {
    grid-column: 3;
  }
  
  .full-c-third {
    grid-column: auto;
  }

  /*
  Define rows classes inside container
  */

  .one-r {
    grid-row: auto;
  }

  .two-r { 
    grid-row: auto;
  }

  .three-r {
    grid-row: auto;
  }

  .four-r {
    grid-row: auto;
  }

  .five-r {
    grid-row: auto;
  }

  .six-r {
    grid-row: auto;
  }

  .seven-r {
    grid-row: auto;
  }

  .double-r {
    grid-row: auto;
  }

  .triple-r {
    grid-row: auto;
  }

  .row{
    margin: 5px;
  }

}



//Colors for containers
/*
.container {
  border: solid 1px $red;
  
}
.container-fixed {
  border: solid 1px $cyan;
}
.f-c-third {
  border: solid 1px green;
}

.fs-c-third { 
  border: solid 1px green;
}

.s-c-third {
  border: solid 1px green;
}

.st-c-third {
  border: solid 1px green;
}

.t-c-third {
  border: solid 1px green;
}

.full-c-third {
  border: solid 1px green;
}


// Define rows classes inside container


.one-r {
  border: solid 1px purple;
}

.two-r { 
  border: solid 1px purple;
}

.three-r {
  border: solid 1px purple;
}

.four-r {
  border: solid 1px purple;
}

.five-r {
  border: solid 1px purple;
}

.six-r {
  border: solid 1px purple;
}

.seven-r {
  border: solid 1px purple;
}

.double-r {
  border: solid 1px purple;
}

.triple-r {
  border: solid 1px purple;
}

.row{
  border: solid 1px purple;
}
*/