@import "_config.scss";

footer {
  
    position: relative;
    margin-top: 50px;
    bottom: 0px;
    width:100%;
    background: whitesmoke;
    color: $darkGrey;
    @include box-shadow(0 0 8px, $darkGrey);

    #copyright {
        color: $black;
        font-size: 14px;
    }
    a {
        color: $black;
        font-size: 14px;
    
        &:hover{
            font-size: 20px;
            box-shadow: 0 0 12px $darkGrey;
            border-radius: 25px;
            padding: 10px;
            transition: box-shadow 0.3s ease-in-out, font-size 0.5s;
        }
    }
}

#copyright {
    width: 100%;
    margin: auto;
    bottom: 20px;
    }

.logo_image {
    
    max-width: 30%;   
}

header {

    position: relative;
    display: block;
    width: 100%;
    background: $perry;
    color: $white;
    height: 70px;
    @include box-shadow(0px 3px 5px, $lightGrey);
    margin-bottom: 15px;

    .logo {
        position: absolute;
        top: 50%;
        left: 15px;
        @include translateY(-50%);
    }


    nav,
    nav ul,
    nav ul li {
        margin: 0px;
        padding: 0px;
    }

    nav {
        position: absolute;
        top:50%;
        right: 25px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;            
            a {
                font-size: 19px;
                line-height: normal;
                color: $white;
                @include transitionOut(0.3s);

                &:hover{
                    color: $white;
                    font-size: 22px;
                    box-shadow: 0 0 12px rgb(0, 231, 193);
                    border-radius: 25px;
                    padding: 10px;
                    transition: box-shadow 0.3s ease-in-out, font-size 0.5s;
                }
            }
        }
    }
}

.profile_image {

    border-radius: 60%;
    max-width: 250px;
    max-height: 250px;
}

.div-box-shadow {
    @include box-shadow(0 0 8px, $darkGrey);
}
@media only screen and (max-width : 1024px) {

    .div-box-shadow {
        @include box-shadow(0 0 5px, $darkGrey);
    }

}

@media only screen and (max-width : 630px) {

    .logo {
        img {
            display: none;
        }
    }
    
}

.div-box-shadow {
    transition: .5s ease;
    }
    
    .div-box-shadow:hover  {
        @include box-shadow(0 0 50px, $darkGrey);
        transition: .5s ease;
    }
